/* Note to Self:  REMS:  think about how it will look on both mobile and computer*/

/*@import url( )*/

@font-face {
    font-family: 'redactionregular';
    src: url('redaction-regular.woff2') format('woff2'),
         url('redaction-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
     background-image:url(img/bg_paper.jpeg);
     cursor:  url('img/arrow.png'), auto; 
     position: absolute;
}

body  {
    -webkit-animation: fadein 5s; 
    position: absolute;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Header: TBA */
h1{
    z-index: 3;
    color: black;
    font-size: 5rem;
    padding-left: 3rem;
    width: 90vh;
    
}

h1:hover{
    color: #E6B1FF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    cursor:  url('img/arrow.png'),auto; 
}

.header a{
    text-decoration: none;
    cursor:  url('img/arrow.png'),auto; 
    font-family: Redaction, serif ;
}

.header p{
    font-size: 6rem;
    font-family: Redaction, serif;
    width: 90vh;
    margin-top: 0vh;

}

/* A Journey Into Curation of Fashion Styling */

.subhead a{
position: absolute;
width: 616.87px;
height: 123.64px;

top: 30vh;
left: 6vh;
line-height: 35px;

font-family: 'HAL Four Grotesk Test';
font-weight: 400;
font-size: 29.5px;

transform: rotate(-4.59deg);
}

.underline img{
    position: absolute;
    margin-left: 4vh;
    margin-top: -16vh;
    width: 44vh;
    height: 15vh;
    /*transform: rotate(-4.59deg);*/
}

/*IMAGE TIMER*/
.hidden {
  display: none;
}

#image-container img{
    position: absolute;
    z-index: -5;
}

.img1 img{
    width: 45%;
    transform: rotate(4.59deg);
    left: 65vw;
    top: 17vh;

}

.img2 img{
    width: 25%;
    left: 55vw;
    top: 7vh;
    transform: rotate(-5deg);

}

.img3 img {
    width: 45%;
    left: 68vw;
    top: 20vh;

}

.img4 img{
    width: 45%;
    left: 39vw;
    top: 20vh;
    transform: rotate(-5deg);
    z-index: -2;

}

/* Doodles */
.doodles{

}
.constellations img{
position: absolute;
width: 45vh;
height: 386px;
left: 135vh;
top: -5vh;
transform: matrix(1, 0.09, 0.09, -1, 0, 0);
}

.heart img{
    position: absolute;
    left: 45vh;
    top: 7vh;
    width: 10%;
    transform: rotate(4.59deg);
}

.flowers img{
    position: absolute;
    width: 20%;
    left: 85vw;
    top: 79vh;

}

.shine img{
    width: 15%;
    position: absolute;
    left: 0vw;
    top: 73vh;
}

/* Drawing Canvas */
#canvas{
    position: fixed;
    margin-top: -5px;
    left: 0px;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.emoji {
  position:absolute;
  height: auto;
  width: auto;
}


/* Bottom Menu */

.menu{
    -webkit-transition:1s;
    position: fixed;
    bottom: 0;
    z-index: 1;
    cursor:  url('img/arrow.png'),auto; 
    margin-left: 3vh;
    /* margin-bottom: -69vh; */
}

button {
    border-radius: 15px 15px 0 0;
    border: 4px solid #000000;
    background:transparent;
    height: 85px;
    width: 350px;
    left: 30px;
    font-family: 'HAL Four Grotesk Test';
}


.menu a{
    font-size: 3.25em;
    margin-left: -17vh;
    color: black;
    text-decoration: none;
    cursor:  url('img/arrow.png'),auto; 
}
/* About Menu/Popup */

.about{
    position:fixed;
    top: 84.5vh;
    left: 2.5vh;
    z-index: 5;

    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}



button#myButton {
    margin-left: 8vh;
    z-index: 3;
    font-size: 3.25em;
    text-align: left;
    color: black;
    text-decoration: none;
    font-family: 'HAL Four Grotesk Test';

}

#myButton:hover{
    background: #E6B1FF; 
    cursor:  url('img/arrow.png'),auto; 
}

.popup {
  display: none;
  position: absolute;
  top:50%;
  left:65%;
  width: 125vh;  
  height:46vh;  
  margin-left:400px;   
  margin-top:-300px;   

  transform: translate(-50%, -50%);
  cursor: url(img/arrow.png),auto;
  /*background-image:url(img/bg_paper.jpeg);*/
  background-color: #E6B1FF;  
  border: 4px solid #000000;
  border-radius: 0px 15px 0 0;


/*  -webkit-animation: fadein 5s;
  -webkit-animation: fadeout 5s;  
   transition: width 0.5s ease-in-out;
*/


  padding: 5px 5px 25px 5px;
  z-index: 7;
}

.tap{
    border-radius: 15px 15px 0 0;
    border: 4px solid #000000;
    background-color: #E6B1FF;
    /*background-image:url(img/bg_paper.jpeg);*/
    height: 75px;
    width: 350px;
    margin-left: -0.75vw;
    margin-top: -10.75vh;
    
    font-family: 'HAL Four Grotesk Test';
    font-size: 3.25em;
    padding-left: 5vh;
}

.tap:hover{
    background-color: #E6B1FF;
}
    
#myButton a {
    margin-left: 3vh;
    font-size: 3rem;
}


.about p{
    position: absolute;
    padding: 40px 0px 0px 20px;

    font-family: 'HAL Four Grotesk Test';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 34px;

    letter-spacing: 0.065em;

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  backdrop-filter: blur(5px); /* apply a blur effect to the background */
  z-index: 6; /* make sure the overlay is behind the pop-up */
  display: none;
}

/* Menu Bar Records + Journey */

.menu{
    font-family: 'HAL Four Grotesk Test';
}
.buttons{
    position: absolute;
    z-index: 2;
    background-image:url(../img/bg_paper.jpeg);
}
/* Records Menu */
.records{
    margin-left:50vh;
    margin-bottom:-500px;
    transform: rotate(0deg);
    z-index: 3;
    background-image:url(../img/bg_paper.jpeg);
}

.records:hover{
    background: #E6B1FF; 
    cursor:  url('img/arrow.png'),auto; 
}

/* Journey Menu */
.journey{
    margin-left:-5px;
    transform: rotate(0deg);
    z-index: 3;
    background-image:url(../img/bg_paper.jpeg);
}

.journey:hover{
    background: #E6B1FF; 
    cursor:  url('img/arrow.png'),auto; 
}

/* Rectangle  */

.rectangle{

box-sizing: border-box;
width: 165vh;
height: 45px;
margin-left: 18px;

background: transparent;
border: 4px solid #000000;
border-radius: 10px 10px 0px 0px ;
margin-top: -3px;
z-index: 6;
background-image:url(../img/bg_paper.jpeg);

}


.rectangle:hover{
    background: #E6B1FF;
}
    


